.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container{
  display: flex;
}

.card img{
  border-radius: 50%;
  width: 120px;
  height: 120px;
  border:  1px solid grey;
}

.card{
  padding: 20px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
  position: relative;
  overflow: hidden;
  border:  1px solid grey;
  display: flex;
  width: 750px;
  height: auto;
  margin : 20px;
}
.firstinfo{
  width:300px;
}
.secondinfo{
  padding-left: 20px;
  text-align: justify;
}
